<a href="https://colab.research.google.com/github/Rabiya915/Python-Assignment-1/blob/main/Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Assignment-1

In [ ]:
name = "Rabiya"
print(type(name))

<class 'str'>

In [ ]:
s = "PythonIsAmazing"
print(s[0:6])
str = s.lower()
print(str)
print(str.replace("amazing", "awesome"))

Python
pythonisamazing
pythonisawesome

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]
fruits.append("elderberry")
print(fruits)

fruits.remove("banana")
print(fruits)

fruits.reverse()
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry']
['apple', 'cherry', 'date', 'elderberry']
['elderberry', 'date', 'cherry', 'apple']

In [ ]:
coordinates = (4,5,6)
x,y,z = coordinates
print(x,y,z)

4 5 6

In [ ]:
student = {'name': "Rabiya",'age': 21,'course': "Python Programming"}
student['grade'] = "A"
print(student)
student['age'] = student['age'] + 1
print(student)
del student['course']
print(student)

{'name': 'Rabiya', 'age': 21, 'course': 'Python Programming', 'grade': 'A'}
{'name': 'Rabiya', 'age': 22, 'course': 'Python Programming', 'grade': 'A'}
{'name': 'Rabiya', 'age': 22, 'grade': 'A'}

In [ ]:
colors = {'red','green','blue'}
colors.add('yellow')
print(colors)
print('black' in colors)
colors.remove('green')
print(colors)

{'blue', 'green', 'red', 'yellow'}
False
{'blue', 'red', 'yellow'}

In [ ]:
x = tuple(fruits)
print(x)
s = "12345"
Y = int(s)
Z = float(Y)
print(type(Y),type(Z))

list_numbers = ["1", "2", "3"]
nums = []
for i in list_numbers:
  nums.append(int(i))
print(nums)

('elderberry', 'date', 'cherry', 'apple')
<class 'int'> <class 'float'>
[1, 2, 3]

In [ ]:
def type_counter(lst):
  dicti = {}
  count = 0
  for item in lst:
    if type(item) == int():
       dict['int'] = count + 1
    elif type(item) == float():
       dict['float'] = count + 1
    elif type(item) == str():
       dict['str'] = count + 1
    elif type(item) == list():
       dict['list'] = count + 1
    else:
       dict['tuple'] = count + 1
  print(dict)

In [ ]:
def type_counter(lst):
    dicti = {}
    for item in lst:
        data_type = type(item).__name__

        if data_type in dicti:
            dicti[data_type] += 1
        else:
            dicti[data_type] = 1

    return dicti

In [ ]:
lst = [1, "hello", 3.14, [1,2,3], (4,5,6)]
result = type_counter(lst)
print(result)

{'int': 1, 'str': 1, 'float': 1, 'list': 1, 'tuple': 1}